.demo-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.demo-hero {
  width: 100%;
  height: 643px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/grainy-1500w.png");
  background-position: center;
}
.demo-background {
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.demo-image {
  right: 0px;
  bottom: 0px;
  height: 90%;
  position: absolute;
  object-fit: cover;
}
.demo-image01 {
  height: 100%;
  z-index: 100;
  object-fit: cover;
}
.demo-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.demo-text {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
}
.demo-desktop-menu {
  gap: var(--dl-space-space-threeunits);
  display: flex;
}
.demo-nav {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.demo-register {
  background-color: #36ef62;
}
.demo-icon {
  width: 16px;
  height: 16px;
}
.demo-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.demo-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.demo-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.demo-nav1 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.demo-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.demo-text02 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
}
.demo-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.demo-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.demo-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-button-container {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.demo-login {
  margin-right: var(--dl-space-space-twounits);
}
.demo-icon-group {
  display: flex;
  z-index: 20;
}
.demo-icons {
  display: flex;
}
.demo-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.demo-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.demo-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.demo-background1 {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 80%;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.demo-demo-area {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 100%;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.demo-header {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.demo-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.demo-title {
  color: rgb(255, 255, 255);
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
}
.demo-caption {
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
}
.demo-container2 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.demo-input {
  flex: 1;
  width: 100%;
  align-self: center;
}
.demo-register2 {
  height: 41px;
  margin-left: var(--dl-space-space-unit);
  background-color: #36ef62;
}
.demo-solutions {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.demo-header01 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.demo-section-numeral {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.demo-divide {
  width: 100px;
  height: 1px;
  display: flex;
  margin-top: 4px;
  align-items: center;
  flex-direction: row;
  background-color: #000000;
}
.demo-heading1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-title01 {
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
}
.demo-caption1 {
  font-size: 18px;
  line-height: 27px;
}
.demo-brands {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-row {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.demo-item {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-image02 {
  height: 200px;
  object-fit: cover;
}
.demo-details {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-title02 {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.demo-description {
  font-size: 18px;
  line-height: 27px;
}
.demo-item1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-image03 {
  height: 200px;
  object-fit: cover;
}
.demo-details1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-title03 {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.demo-description01 {
  font-size: 18px;
  line-height: 27px;
}
.demo-item2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-image04 {
  height: 200px;
  object-fit: cover;
}
.demo-details2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-title04 {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.demo-description02 {
  font-size: 18px;
  line-height: 27px;
}
.demo-black {
  gap: 120px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/grainy-1500w.png");
}
.demo-join {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  align-items: flex-start;
  padding-top: 2rem;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.demo-section-numeral1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.demo-divide1 {
  width: 100px;
  height: 1px;
  display: flex;
  margin-top: 4px;
  align-items: center;
  flex-direction: row;
  background-color: #ffffff;
}
.demo-text10 {
  color: rgb(255, 255, 255);
}
.demo-title05 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 90px;
  max-width: auto;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
}
.demo-image05 {
  top: 0px;
  left: 0px;
  bottom: 0px;
  height: 650px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.demo-more {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.demo-header02 {
  gap: var(--dl-space-space-oneandhalfunits);
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-heading2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-title06 {
  font-size: 50px;
  max-width: 900px;
  font-style: normal;
  font-weight: 600;
  line-height: 55px;
}
.demo-quotes {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.demo-row1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.demo-image06 {
  height: 320px;
  object-fit: cover;
}
.demo-row2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.demo-details3 {
  gap: var(--dl-space-space-oneandhalfunits);
  color: white;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.demo-quote {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 1%;
}
.demo-author {
  font-size: 24px;
  max-width: 35%;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 1%;
}
.demo-image07 {
  height: 320px;
  object-fit: cover;
}
.demo-row3 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(255, 255, 255, 0.2);
  flex-direction: row;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.demo-details4 {
  gap: var(--dl-space-space-oneandhalfunits);
  color: white;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.demo-quote1 {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 1%;
}
.demo-author1 {
  font-size: 24px;
  max-width: 50%;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 1%;
}
.demo-image08 {
  height: 320px;
  object-fit: cover;
}
.demo-details5 {
  gap: var(--dl-space-space-oneandhalfunits);
  color: white;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.demo-quote2 {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 1%;
}
.demo-author2 {
  font-size: 24px;
  max-width: 35%;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 1%;
}
.demo-accordions {
  gap: var(--dl-space-space-fourunits);
  color: white;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-accordion {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-header03 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.demo-divide2 {
  width: 40px;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  background-color: #ffffff;
}
.demo-title07 {
  font-size: 40px;
  max-width: 900px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.demo-items {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-element {
  align-items: flex-start;
}
.demo-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-header04 {
  font-size: 24px;
}
.demo-description03 {
  font-size: 18px;
  max-width: 800px;
  line-height: 27px;
}
.demo-icon-container {
  position: relative;
  padding-top: var(--dl-space-space-halfunit);
}
.demo-icon12 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  display: none;
}
.demo-icon14 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
}
.demo-element1 {
  align-items: flex-start;
}
.demo-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-header05 {
  font-size: 24px;
}
.demo-description04 {
  font-size: 18px;
  max-width: 800px;
  line-height: 27px;
}
.demo-icon-container1 {
  padding-top: var(--dl-space-space-halfunit);
}
.demo-icon16 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  display: none;
}
.demo-icon18 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
}
.demo-element2 {
  align-items: flex-start;
}
.demo-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-header06 {
  font-size: 24px;
}
.demo-description05 {
  font-size: 18px;
  max-width: 800px;
  line-height: 27px;
}
.demo-icon-container2 {
  padding-top: var(--dl-space-space-halfunit);
}
.demo-icon20 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  display: none;
}
.demo-icon22 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
}
.demo-accordion1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-header07 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.demo-divide3 {
  width: 40px;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  background-color: #ffffff;
}
.demo-title08 {
  font-size: 40px;
  max-width: 900px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.demo-items1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-element3 {
  align-items: flex-start;
}
.demo-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-header08 {
  font-size: 24px;
}
.demo-description06 {
  font-size: 18px;
  max-width: 800px;
  line-height: 27px;
}
.demo-icon-container3 {
  padding-top: var(--dl-space-space-halfunit);
}
.demo-icon24 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  display: none;
}
.demo-icon26 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
}
.demo-element4 {
  align-items: flex-start;
}
.demo-content4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-header09 {
  font-size: 24px;
}
.demo-description07 {
  font-size: 18px;
  max-width: 800px;
  line-height: 27px;
}
.demo-icon-container4 {
  padding-top: var(--dl-space-space-halfunit);
}
.demo-icon28 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  display: none;
}
.demo-icon30 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
}
.demo-element5 {
  align-items: flex-start;
}
.demo-content5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.demo-header10 {
  font-size: 24px;
}
.demo-description08 {
  font-size: 18px;
  max-width: 800px;
  line-height: 27px;
}
.demo-icon-container5 {
  padding-top: var(--dl-space-space-halfunit);
}
.demo-icon32 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  display: none;
}
.demo-icon34 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
}
.demo-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: 36EF62;
}
.demo-content6 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.demo-details6 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
}
.demo-title09 {
  width: 100%;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
}
.demo-description09 {
  width: 100%;
  font-size: 18px;
  line-height: 27px;
}
.demo-socials {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: row;
}
.demo-link4 {
  display: contents;
}
.demo-image10 {
  text-decoration: none;
}
.demo-link5 {
  display: contents;
}
.demo-image11 {
  text-decoration: none;
}
.demo-copyright {
  width: 100%;
  font-size: 14px;
  line-height: 21px;
}
@media(max-width: 991px) {
  .demo-row1 {
    flex-direction: column;
  }
  .demo-image06 {
    width: 100%;
  }
  .demo-details3 {
    width: 50%;
  }
  .demo-image07 {
    width: 50%;
  }
  .demo-row3 {
    border-bottom-width: 0px;
  }
  .demo-details4 {
    display: none;
  }
  .demo-image08 {
    width: 50%;
    aspect-ratio: 1;
  }
  .demo-details5 {
    width: 50%;
  }
}
@media(max-width: 767px) {
  .demo-hero {
    height: 60vh;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .demo-desktop-menu {
    display: none;
  }
  .demo-burger-menu {
    display: flex;
  }
  .demo-icon02 {
    fill: white;
  }
  .demo-nav1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .demo-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .demo-text02 {
    color: #000000;
  }
  .demo-nav2 {
    gap: var(--dl-space-space-unit);
  }
  .demo-text03 {
    color: #000000;
  }
  .demo-text04 {
    color: rgb(0, 0, 0);
  }
  .demo-text05 {
    color: rgb(0, 0, 0);
  }
  .demo-text06 {
    color: rgb(0, 0, 0);
  }
  .demo-text07 {
    color: rgb(0, 0, 0);
  }
  .demo-button-container {
    gap: var(--dl-space-space-unit);
    width: 50%;
    margin-top: 0px;
    align-items: flex-start;
    flex-direction: column;
  }
  .demo-login {
    width: 100%;
    border-width: 1px;
    margin-right: 0px;
  }
  .demo-register1 {
    width: 100%;
    border-width: 1px;
  }
  .demo-icon-group {
    width: 100%;
    justify-content: flex-start;
  }
  .demo-demo-area {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .demo-heading {
    gap: var(--dl-space-space-unit);
  }
  .demo-title {
    font-size: 30px;
    line-height: 33px;
  }
  .demo-caption {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .demo-solutions {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .demo-divide {
    width: 50px;
  }
  .demo-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .demo-title01 {
    font-size: 30px;
    line-height: 33px;
  }
  .demo-caption1 {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .demo-row {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .demo-item {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .demo-image02 {
    height: 60px;
  }
  .demo-details {
    gap: var(--dl-space-space-unit);
  }
  .demo-title02 {
    font-size: 24px;
    line-height: 28px;
  }
  .demo-description {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .demo-item1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .demo-image03 {
    height: 60px;
  }
  .demo-details1 {
    gap: var(--dl-space-space-unit);
  }
  .demo-title03 {
    font-size: 24px;
    line-height: 28px;
  }
  .demo-description01 {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .demo-item2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .demo-image04 {
    height: 60px;
  }
  .demo-details2 {
    gap: var(--dl-space-space-unit);
  }
  .demo-title04 {
    font-size: 24px;
    line-height: 28px;
  }
  .demo-description02 {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .demo-black {
    gap: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .demo-join {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .demo-divide1 {
    width: 50px;
  }
  .demo-title05 {
    font-size: 30px;
    line-height: 33px;
  }
  .demo-image05 {
    display: none;
  }
  .demo-more {
    gap: var(--dl-space-space-threeunits);
    padding-top: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
  }
  .demo-heading2 {
    gap: var(--dl-space-space-unit);
  }
  .demo-title06 {
    font-size: 30px;
    line-height: 33px;
  }
  .demo-quotes {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .demo-quote {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .demo-quote1 {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .demo-quote2 {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .demo-title07 {
    font-size: 30px;
    line-height: 33px;
  }
  .demo-element1 {
    align-items: flex-start;
  }
  .demo-title08 {
    font-size: 30px;
    line-height: 33px;
  }
  .demo-element3 {
    align-items: flex-start;
  }
  .demo-element4 {
    align-items: flex-start;
  }
  .demo-element5 {
    align-items: flex-start;
  }
  .demo-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .demo-content6 {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .demo-title09 {
    font-size: 24px;
    line-height: 34px;
  }
  .demo-description09 {
    font-size: 14px;
    line-height: 21px;
  }
  .demo-socials {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .demo-mobile-menu {
    padding: 16px;
  }
  .demo-button-container {
    width: 100%;
  }
  .demo-icon-group {
    justify-content: center;
  }
  .demo-divide {
    width: 20px;
  }
  .demo-text09 {
    font-size: 16px;
    line-height: 24px;
  }
  .demo-join {
    padding-top: 2rem;
  }
  .demo-divide1 {
    width: 20px;
  }
  .demo-text10 {
    font-size: 16px;
    line-height: 24px;
  }
  .demo-divide2 {
    width: 20px;
  }
  .demo-title07 {
    font-size: 18px;
  }
  .demo-header04 {
    font-size: 16px;
  }
  .demo-description03 {
    font-size: 14px;
    line-height: 21px;
  }
  .demo-header05 {
    font-size: 16px;
  }
  .demo-description04 {
    font-size: 14px;
    line-height: 21px;
  }
  .demo-header06 {
    font-size: 16px;
  }
  .demo-description05 {
    font-size: 14px;
    line-height: 21px;
  }
  .demo-divide3 {
    width: 20px;
  }
  .demo-title08 {
    font-size: 18px;
  }
  .demo-header08 {
    font-size: 16px;
  }
  .demo-description06 {
    font-size: 14px;
    line-height: 21px;
  }
  .demo-header09 {
    font-size: 16px;
  }
  .demo-description07 {
    font-size: 14px;
    line-height: 21px;
  }
  .demo-header10 {
    font-size: 16px;
  }
  .demo-description08 {
    font-size: 14px;
    line-height: 21px;
  }
}
